body {
  font-family: sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#enterCodemore {
  background-color: #fff;
}
.navbar h1 {
  color: #000;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: cursive;
  font-size: 5em;
}
.LandingPage {
  background-image: url(images/medievallandscape.png);
  background-size: cover;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10vh;
}
form div {
  margin: 1em;
  display: inline-block;
}
