/* font-family: 'Almendra SC', serif;
font-family: 'IM Fell DW Pica', serif;
font-family: 'IM Fell English SC', serif;
font-family: 'IM Fell Great Primer SC', serif; */

body {
  font-family: sans-serif;
  margin: 0px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App {
  width: 90%;
  max-width: 700px;
  margin: 2em auto;
}
p.lorem-text {
  text-align: justify;
}

.modal-body h3 {
  text-align: center;
}
.modal-body h5 {
  text-align: center;
}
input[disabled] {
  background-color: lightgray;
}
.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}
.form-group {
  display: flex;
  flex-direction: column;
}
.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.form-error {
  font-size: 0.75em;
  color: red;
}
.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}

.dragon {
  top: 200px;
  left: -30%;
  position: absolute;
  animation: move 11s linear 1s infinite;
  width: 150px;
}

@-webkit-keyframes move {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}
a {
  text-decoration: none;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar {
  color: #000;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: cursive;
  display: flex;
  justify-content: space-between;
  height: 14vh;
}

.problemBtn {
  width: 20vw;
  color: white;
  z-index: 10;
  border: 0;
  text-align: center;
  font-family: 'Almendra SC', serif;
  font-family: 'IM Fell English SC', serif;
  font-size: 1.2em;
  line-height: 1.6em;
}
.navBtn {
  width: 20vw;

  font-size: 2em;
  /* background-color: tan; */
  color: black;
  font-family: cursive;
}

.loggedinNavhead {
  font-size: 4em;
  display: inline-block;
  margin: 0px;
}
.loggedoutNavhead {
  font-size: 4em;
  margin: 0px;
}

.LandingPage {
  background-image: url(images/medievallandscape.png);
  background-size: cover;
  width: 100vw;
  height: 90vh;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10vh;
}

.problemDesc {
  background-color: #2f3129;
  color: white;
  width: 100%;
  /* padding: 8px; */
  font-family: 'IM Fell DW Pica', serif;
  font-size: 1.3em;
  padding: 3% 1.5%;
  box-sizing: border-box;
}

form div {
  margin: 1em;
  display: inline-block;
}

.problemsPage {
  height: 70vh;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.problemsPage:not(.containerProblem) {
  opacity: 0.95;
}
.problems {
  padding: 10px;
  flex: 13;
  background-image: url('./images/parchment-background.jpg');
  overflow-y: scroll;
}

.problemList {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: black;
}

.problemList a {
  color: black;
}

.containerProblem {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.problemDesc {
  background-color: #2f3129;
  color: white;
  font-family: serif;
  font-size: 1.3em;
  padding: 10px;
  flex: 2;
  text-align: center;
  border: 5px solid white;
}

.editor {
  flex: 10;
}
.runCodeBtn {
  background-color: rgb(0, 48, 18, 0.85);
  color: white;
  font-size: 20px;
  font-family: 'IM Fell Great Primer SC', serif;
  padding: 5px 15px;
  border-color: black;
  flex: 0 0 30px;
}

.containerResults {
  flex: 2;
  height: 100%;
  background-image: url('./images/parchment-background.jpg');
  font-family: 'Gentium Basic', serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.resultsBlock {
  flex: 5;
  padding: 0 5%;
  overflow-y: scroll;
}

.testBlock {
  flex: 6;
  background-color: rgb(0, 48, 18, 0.8);
  color: white;
  text-emphasis: none;
  padding: 0% 3%;
  overflow-y: scroll;
  /* background: url('./images/pixeldragon.png'); */
}

.profile {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  margin: auto;
  margin-bottom: 4vh;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 80%;
  width: 90%;
}

.profile div {
  text-align: center;
}

.info {
  display: flex;
  height: 30%;
  width: 100%;
  flex-direction: row;
}

.userImage {
  background-color: purple;
  height: 100%;
  width: 40%;
}
.greenies {
  background-color: green;
  height: 100%;
  width: 60%;
}
.stats {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.dataOne {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
}
#codewarsPic {
  background-color: white;
}
.dataTwo {
  display: flex;
  height: 100%;
  width: 50%;
  flex-direction: column;
}
.github {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: purple;
  background-color: rgba(211, 211, 211, 0.8);
}

.githubLeft {
  display: flex;
  flex-direction: column;
  height: 100;
  width: 50%;
}

.githubRight {
  height: 100;
  width: 50%;
}

.githubTable {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: black;
}

.githubOuter {
  display: flex;
  align-items: center;
  width: 70%;
  background-color: white;
}

.githubLogo {
  justify-content: center;
  max-height: 10%;
  max-width: 10%;
}

.stackBadges {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.statData {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.statBadges {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.medalIcon {
  height: 3vh;
  width: 2vw;
}
.medal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.stackExtra {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#stackCol2 {
  align-items: flex-end;
}
.stackImage {
  height: 20%;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.stackLogo {
  height: 60%;
  width: 30%;
}
.codewarsContainer {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a93526;
}
.codewarsTop {
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}

.codewarsBottom {
  display: flex;
  height: 10%;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.codewarsCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.codewarsColSize {
  height: 100%;
  width: 33%;
}

.codewarslanguages {
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding-bottom: 5vh;
  display: flex;
}
.codewarSubtitle {
  background-color: white;
  color: black;
}
.clapArticle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: black;
  width: 70%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 90%;
}
.clapInner {
  margin: auto;
  width: 90%;
  height: 90%;
  border: 2px solid gray;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.clapHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  border-bottom: 1px solid gray;
}
.clapTitle {
  padding: 1.5em;
  color: black;
  font-weight: bold;
  font-size: 1em;
}
.clapInfo {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.clapOne,
.clapTwo {
  width: 50%;
}
.languageIcon {
  width: 20%;
  height: 100%;
}

.logo {
  width: 30%;
  height: 30%;
}
.clapClaps {
  font-size: 1.5m;
  font-weight: bold;
}
.clapHands {
  font-size: 2em;
}
.clapTopic {
  font-size: 2.5em;
}
.clapArticle:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.04);
}
#smaller {
  font-size: 1em;
}
#testImage {
  background-color: #800080;
}
.profileTitle {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  flex-wrap: wrap;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #800080;
  text-shadow: 1px 1px #000000;
  font-size: 1.3em;
  font-weight: bold;
  padding: 5px;
}
.mediumRow {
  width: 100%;
  height: 33%;
}
.mediumBody {
  width: 100%;
  height: 100%;
}
.mediumHeader {
  width: 30%;
  height: 20%;
}
.headerLogo {
  justify-content: center;
  height: 20%;
  width: 50%;
}
.paperLogo {
  justify-content: center;
  height: 10%;
  width: 30%;
}
.clapLogo {
  justify-content: center;
  height: 20%;
  width: 30%;
}
.calendarLogo {
  justify-content: center;
  height: 10%;
  width: 30%;
}

.stackoverflowCol {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
  justify-content: space-around;
  align-content: center;
}
.stackoverflow {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ff9900;
}
.medium {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  background-color: #00ff01;
}
.mediumTableDiv {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  width: 70%;
  height: 90%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.mediumTableDiv:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.04);
}
.tableImage {
  height: 5vh;
  width: 5vh;
}
.mediumLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mediumRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

td {
  padding: 0px;
  font-size: 1em;
}
.mediumCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mediumRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25%;
}

.codewarssubtitle {
  width: 60%;
  background-color: white;
  color: black;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.codewarssubtitle:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.13);
}
.codewarsLogo {
  height: auto;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  max-width: 50%;
}

.mediumImage {
  background: white;
  padding: 0px;
  margin-right: 50px;
}

.problemBtn:hover {
  background-color: white;
}

.selected {
  background-color: whitesmoke;
  padding: 1% 3% 1% 3%;
}

.failed {
  color: red;
}
.passed {
  color: green;
}

.responseButtons {
  display: flex;
  justify-content: center;
  flex: 1;
}

.problemTitle {
  border-bottom: 2px white solid;
  flex: 1;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  background-color: rgba(46, 42, 42, 0.95);
  margin: 0;
  padding-top: 10px;
}
.resultBtn {
  flex: 1;
  /* height: 20px; */
  background-color: rgba(46, 42, 42, 0.8);
  color: white;
  border: 1.5px white solid;
  font-size: 20px;
}
.testsTitle,
.resultTitle {
  text-align: center;
  font-size: 1.3em;
}

.speech-bubble {
  position: relative;
  background: url(https://media.istockphoto.com/photos/blaze-fire-flame-background-picture-id178420160?k=6&m=178420160&s=612x612&w=0&h=zROA1KUfOOwmwt9ZYo01y5z7g9xnOrgO6ui9l0_SdjU=);
  border-radius: 0.4em;
  height: 60px;
  /* bottom: -165px;
  right: -360px; */
  top: -330px;
  right: -365px;
  z-index: 5;
  font-family: 'Almendra SC', serif;
  font-size: 1.4em;
  padding: 12% 12%;
  text-align: center;
  color: white;
  text-shadow: 6px 4px 10px #000;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.625em solid transparent;
  border-right-color: #ff8400;
  border-left: 0;
  border-bottom: 0;
  margin-top: -0.312em;
  margin-left: -0.625em;
  z-index: 5;
}
.banner {
  background: url('./images/banner2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 20px;
  height: 330px;
  width: 400px;
}
h1 .banner {
  transform: translate(-50%, -50%);
}
